.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: #fff;
  font-size: 32px;
  letter-spacing: 12px;
}

.moon {
  width: 32px;
  height: 32px;
}

.sun {
  width: 32px;
  height: 32px;
}