.input-container {
  padding: 24px 0px 24px 0px;
}

.input {
  font-size: 18px;
  width: 99%;
  border: none;
  height: 50px;
  text-indent: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputDark {
  background-color: #25273c;
}