.todoItem {
 border-bottom: 1px solid hsl(233, 11%, 84%);
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 20px;
 font-size: 18px;
}

.todoItem:hover {
  transform: translateY(-1.5px);
  box-shadow: 0 0px 7px 0px hsl(235, 19%, 35%);
  border-color: hsl(236, 9%, 61%);
  z-index: 10;
}

.todoItemDark {
  border-bottom: 1px solid hsl(237, 14%, 26%);
  color: hsl(236, 33%, 92%);
}

.todoItemDark:hover {
  	transform: translateY(-2px);
	box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
	border-color: hsl(235, 24%, 19%);
}

.check {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  border: 1px solid hsl(236, 9%, 61%);
  margin-right: 20px;
  cursor: pointer;
  text-align: center;
  
}

.check:hover{
  border: 1px solid #c058f3;
  transition: .3s ease-in;
}

.cross {
  height: 20px;
  width: 20px;
  margin-left: auto;
  order: 2;
  cursor: pointer;
}

.checkComplete {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(#57ddff,#c058f3);
}

.checkComplete:hover {
  border: none;
}

.todoComplete {
  text-decoration: line-through;
  color: hsl(233, 11%, 84%);
  
}