body {
  font-family: 'Josefin Sans'
}

.App {
  background-image: url(./images/bg-desktop-light.jpg);
  font-family: 'Josefin Sans';
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main {
  width: 40%;
  padding-top: 60px;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');